doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://cdn.datatables.net/v/bs4/jq-3.2.1/dt-1.10.16/r-2.2.1/sc-1.4.4/datatables.min.css", type="text/css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css", integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy", crossorigin="anonymous")
    // link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js", type="text/javascript")
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
    script(src="https://cdn.datatables.net/v/bs4/jq-3.2.1/dt-1.10.16/r-2.2.1/sc-1.4.4/datatables.min.js", type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js", integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4", crossorigin="anonymous")
    block additionalHeaders

  body
    nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
      a(href="/backend/dashboard", class="navbar-brand") Portal
      button.navbar-toggler(
        type="button", data-toggle="collapse", data-target="#navbarNav", 
        aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation"
      )
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item(class=(name === "membership" ? "active" : undefined))
            a.nav-link(href="/backend/membership") Membership
          li.nav-item(class=(name === "payment-history" ? "active" : undefined))
            a.nav-link(href="/backend/payment-history") Payment History
        if currentTime
          .my-2.my-lg-0.text-light= currentTime

    if messages.error
      div.m-3(class="alert alert-danger alert-dismissible fade show")
        = messages.error
        button(type="button", class="close", data-dismiss="alert", aria-label="Close")
          span(aria-hidden="true") &times;
    if messages.info
      div.m-3(class="alert alert-info alert-dismissible fade show")
        = messages.info
        button(type="button", class="close", data-dismiss="alert", aria-label="Close")
          span(aria-hidden="true") &times;
    if messages.success
      div.m-3(class="alert alert-success alert-dismissible fade show")
        = messages.success
        button(type="button", class="close", data-dismiss="alert", aria-label="Close")
          span(aria-hidden="true") &times;
    if title
      h3.m-3.mt-0= title
    block content
