extends layout-unsecure

block content
  div
    form(action="/backend/login", method="post")
      div(class="form-group", data-role="fieldcontain")
        fieldset(data-role="controlgroup")
          label(for="email") Email
          input(name="email", type="email", placeholder="", class="form-control", required="required")
      div(class="form-group", data-role="fieldcontain")
        fieldset(data-role="controlgroup")
          label(for="password") Password
          input(name="password", type="password", placeholder="", class="form-control", required="required")
      input(type="submit", name="submit", value="Log In", class="btn btn-primary")