extends layout

block content
  if user
    .container-fluid
      form#editForm(action=`/backend/membership/edit`, method="post")
        input(type="hidden", name="id", value=user.id)
        .form-group
          label(for="username") User Name
          input.form-control(type="text", name="username", value=user.username, required="required")
        .form-group
          label(for="password") Password
          input.form-control(type="password", name="password", value="", placeholder="Leave blank unless changing user's password")
        .form-group
          label(for="email") Email
          input.form-control(type="text", name="email", value=user.email, required="required")
        .form-group
          label(for="accountStatus") Account Status
          select.border.rounded(name="accountStatus", required="required", class="form-control")
            for status in accountStatuses ? accountStatuses : []
              option(value=status.key, selected=status.key === user.accountStatus)= status.value
        .form-group
          label(for="membershipStatus") Membership Status 
          input.form-control(type="text", name="membershipStatus", value=user.membershipStatus, disabled="disabled")
        .form-group
          label(for="verificationCode") Verification Code
          input.form-control(type="text", name="verificationCode", value=user.verificationCode, placeholder="N/A", disabled="disabled")
        .form-group
          label(for="joinDate") Join Date
          input.form-control(type="text", name="joinDate", value=joinDate, disabled="disabled")
        .btn-toolbar(role="toolbar")
          .btn-group.mr-2
            button#cancel(type="button", class="btn btn-secondary", role="button") Cancel
          .btn-group
            button(type="submit", class="btn btn-primary") Save User
    .container-fluid.mt-4#devices
      h4.mt-2 Devices
      if devices && devices.length > 0
        .row.font-weight-bold
          .col-sm Device Name
          .col-sm Portal ID
          .col-sm Device ID
          .col-sm
        each device in devices
          .row.mt-2.align-items-baseline
            .col-sm= device.deviceName
            .col-sm= device.portalId
            .col-sm= device.deviceId
            .col-sm
              button(
                type="button", class="btn btn-danger", data-toggle="modal", 
                data-target="#deleteModal", data-id=device.portalId
              ) Delete
      else
        p No devices found!
    div#deleteModal(class="modal fade", tabindex="-1", role="dialog", aria-labelledby="deleteModal", aria-hidden="true")
      div(class="modal-dialog modal-lg", role="document")
        .modal-content
          .modal-header
            h5 Confirm Device Deletion
            button(type="button", class="close", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            p.message Something went wrong!
            form(action="/backend/membership/device/delete", method="post")
              input(type="hidden", name="id", value="")
              input(type="submit", style="display: none;")
          .modal-footer
            button(type="button", class="btn btn-secondary", data-dismiss="modal") Close
            button#deleteSubmit(type="button", class="btn btn-danger") Delete
  else
    h3 Error: Could not find user!
  script.
    $(document).ready(function() {
      $('#cancel').click(function(event) {
        window.location.href="/backend/membership";
      });

      $('#deleteSubmit').click(function(event) {
        $(this).attr("disabled", true);
        $('#deleteModal form input[type="submit"]').trigger('click');
      });

      $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        // Extract info from data-* attributes
        var id = button.data('id');
        var message = `Are you sure you want to delete device ${id}?`;

        // Update the modal's content.
        var modal = $(this);
        modal.find('p.message').text(message);
        modal.find('input[name="id"]').val(id);
      });

      $('#deleteModal').on('hide.bs.modal', function (event) {
        var modal = $(this);
        modal.find('input[name="id"]').val("");
        modal.find('p.message').val("Something went wrong!");
      });

      const DATE_TIME_FORMAT = "!{DATE_TIME_FORMAT}";
      const joinedTimestamp = "!{user.joinedTimestamp.toISOString()}";
      if (typeof moment !== "undefined" && joinedTimestamp) {
        const joinDate = moment(joinedTimestamp).format(DATE_TIME_FORMAT);
        $('input[name="joinDate"]').val(joinDate);
      }
    });
