extends layout

block additionalHeaders
  - var name = "membership"

block content
  table#membership.table.table-striped.table-bordered(style="width: 100%;")
    thead
      tr
        th Display Name
        th Email
        th Join Date
        th Plan
        th Status
        th Actions
  script.
    const DATE_TIME_FORMAT = "!{DATE_TIME_FORMAT}";
    $(document).ready(function() {
      $('#membership').DataTable({
        order: [
          [2, "desc"],
        ],
        searching: true,
        ordering: true,
        stateSave: true,
        processing: true,
        serverSide: true,
        ajax: "/backend/membership/data",
        columns: [
          { "data": "username", "defaultContent": "" },
          { "data": "email", "defaultContent": "" },
          { 
            "data": "username", 
            "defaultContent": "",
            "render": function(data, type, row, meta) {
              if (type === "display") {
                if (typeof moment !== "undefined" && typeof row.joinedTimestamp !== "undefined") {
                  data = moment(row.joinedTimestamp).format(DATE_TIME_FORMAT);
                }
              }
              return data;
            }
          },
          { "data": "membershipStatus", "defaultContent": "" },
          { "data": "accountStatus", "defaultContent": "" },
          { 
            "data": "DT_RowId",
            "defaultContent": "",
            "orderable": false,
            "class": "actions",
            "render": function(data, type, row, meta) {
              if (type === "display") {
                let id = data;
                data = `
                <a href="/backend/membership/edit/${id}">Edit</a>
                `;
              }
              return data;
            }
          },
        ]
      });
    } );